// Override default variables before the import
/* Cor padrao BOTECAO #F8971D */
$body-bg: #fcf8f8;

$theme-colors: (
    "primary": #F8971D
);

.navbar-light .navbar-nav .nav-link {
    color: red !important;
}

nav .navbar-nav li a{
    color: #1d21f8 !important;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #1d21f8 !important;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';